nnoremap <SPACE> <Nop>
let mapleader=" "

" custom binds
nmap <leader>rr <Action>(Run)
nmap <leader>rd <Action>(Debug)

nmap <leader>em <Action>(ExtractMethod)
nmap <leader>re <Action>(RenameElement)
nmap <leader>iv <Action>(IntroduceVariable)

vmap <leader>cc ~
nmap <leader>cc ~

nmap <leader>sv <Action>(SplitVertically)
nmap <leader>sh <Action>(SplitHorizontally)
nmap <leader>l <Action>(NextSplitter)
nmap <leader>h <Action>(PrevSplitter)

nmap <leader>oi <Action>(OptimizeImports)
nmap <leader>of <Action>(OpenFile)

nmap <leader>qq :action CloseEditor<CR>
nmap <leader>ww :w<CR>

" regular vim settings
set relativenumber
set number
set ignorecase

" Show a few lines of context around the cursor.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
