let mapleader=" "

" custom binds
map <leader>r <Action>(Run)
map <leader>re <Action>(RenameElement)
map <leader>em <Action>(ExtractMethod)
map <leader>iv <Action>(IntroduceVariable)
" change case
map <leader>cc ~

:command W w
:command Q q

" regular vim settings
set relativenumber
set number
set ignorecase

" Show a few lines of context around the cursor.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
